<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="main.js"></script>
</head>

<body>

    <body id="preview">
        <h1><a id="Group_20_assignment_2_0"></a>Group 20, assignment 2</h1>
        <h3><a id="Usage_of_implementation_2"></a>Usage of implementation</h3>
        <p>The application allows visitors to share things that makes them thankful.</p>
        <p>This is what the front page looks like:</p>
        <p><img style="width:1000px" src="https://s15.postimg.io/710pr07l5/Screenshot_2016_09_16_21_13_08.png" border="1"></p>
        <p>If a category from the header is chosen, then only things that have been posted with that category are shown (in the picture below <em>IT things</em> has been clicked in the header):</p>
        <p><img style="width:1000px" src="https://s15.postimg.io/4xqajc7sb/Screenshot_2016_09_16_21_16_10.png" border="1"></p>
        <p>Visitors that click on the button or the header element named <em>What makes you thankful?</em> will be directed to a form where they can share their own thanfulness:</p>
        <p><img style="width:1000px" src="https://s15.postimg.io/fyq123pez/Screenshot_2016_09_16_21_16_39.png" border="1"></p>
        <p>They must add text and category, but specifying the URL of the picture or gif they want to use is optional (if no URL is provided then a random gif is chosen from an array of gifs).</p>
        <p>Users that try to submit the form without specifying the text field are told that this field is mandatory:</p>
        <p><img style="width:1000px" src="https://s15.postimg.io/lo69mevl7/Screenshot_2016_09_16_21_16_58.png" border="1"></p>
        <p>But when they do provide a value for the text field, their submission is added to the frontpage and to the page of the category that was chosen for the submission:</p>
        <p><img style="width:1000px" src="https://s17.postimg.io/upd84lk4f/Screenshot_2016_09_16_21_36_32.png" border="1"></p>
        <p><img style="width:1000px" src="https://s15.postimg.io/52yn6r4h7/Screenshot_2016_09_16_21_18_32.png" border="1"></p>
        <h3><a id="Implementation_of_the_application_30"></a>Implementation of the application</h3>
        <p>As instructed we have implemented this webp application in Node.js using the Express.js framework.</p>
        <p>We have also used the following NPM packages:</p>
        <ul>
            <li><em>body-parser</em>: This package helped us fetch data from post requests more easily.</li>
            <li><em>mongodb</em>: The database that we used.</li>
            <li><em>mongoose</em>: An ORM that makes it easier to use MongoDB.</li>
        </ul>
        <p>Our code is organized as follows:</p>
        <ul>
            <li><em>package.json</em>: As in other Node.js projects, this file specifies the settings of the project (the dependencies, which file is to be called by default in order to run the project, etc).</li>
            <li><em>server.js</em>: This is the file that runs the server.</li>
            <li><em>models/entity.js</em>: This file uses Mongoose to specify the schema/structure of only entity in the application (which we’ve named <em>entity</em>).</li>
            <li><em>public/</em>: The files in this folder (index.html, main.js and styles.css) form the frontend of the application.</li>
        </ul>
        <p>To get a better idea of how the application is implemented, let us take a look at some snippets from some of the files in the application and give a brief explanation of how they work.</p>
        <h5><a id="serverjs_49"></a>server.js</h5>
        <p>The contents of the public-folder are made available, and since the html file is called <em>index</em>.html it will be made available when visitors ask for <em>[domainname]/</em>.</p>
        <pre><code>app.use(express.static(process.cwd() + '/public'));
</code></pre>
        <p>The schema Entity, which we defined in Mongoose, is imported from the <em>entity.js</em>-file in the <em>models</em>-folder.</p>
        <pre><code>var Entity = require('./models/entity.js');
</code></pre>
        <p>An express router is assigned to the variable router.</p>
        <pre><code>var router = express.Router();
</code></pre>
        <p>A GET-call to test if the API is running, a GET-call for retrieving entities and a POST-call for adding entities are added to the previously mentioned router. To two latter calls rely on the functionality from Mongoose for adding and retrieving
            entries to and from the database, made available through on the schema <em>Entity</em> that was defined using Mongoose.</p>
        <pre><code>router.get('/', (req, res) =&gt; {
    res.json({
        message: 'Welcome to the glorious API of group 20 :)'
    });
});

router.get('/entities', (req, res) =&gt; {
    Entity.find((err, entities) =&gt; {
        if (err)
            res.send(err);

        res.json(entities);
    });
});

router.post('/entities', (req, res) =&gt; {

    var entity = new Entity();
    entity.text = req.body.text;
    entity.image_url = req.body.image_url;
    entity.category = req.body.category;

    entity.save((err) =&gt; {
        if (err)
            res.send(err);

        res.json({
            entity
        });
    });

});
</code></pre>
        <p>The previously mentioned router is, by the use of middleware, instructed to be “appended” to the slug <em>api/</em>. This makes it so that the possible API-calls are <em>[domainname]/api</em> (GET-call) and <em>[domainname]/entities</em> (GET-call
            and POST-call).</p>
        <h5><a id="indexhtml_107"></a>index.html</h5>
        <p>The header fetches jQuery as well as our own JavaScript from main.js. jQuery is fetched first, as main.js is dependent on jQuery.</p>
        <pre><code>&lt;head&gt;
    &lt;link rel="stylesheet" type="text/css" href="styles.css"&gt;
    &lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"&gt;&lt;/script&gt;
    &lt;script src="main.js"&gt;&lt;/script&gt;
&lt;/head&gt;
</code></pre>
        <p>The first content of the body of the html document is the header. With the exeption of inline styling that is used to specify the dimentions of the home-icon, the CSS of the header is specified in styles.css (using flexbox).</p>
        <pre><code>&lt;nav id="header"&gt;
        &lt;div class="header-element" id="header-element--home"&gt;
          &lt;img style="height:30px;width:30px;" src="http://bsccongress.com/im15/gray-home-icon-clip-art.png" border="1"/&gt;
        &lt;/div&gt;
        &lt;div class="header-element" id="header-element--everyday-things"&gt;&lt;p&gt;Everyday things&lt;/p&gt;&lt;/div&gt;
        &lt;div class="header-element" id="header-element--not-so-everyday-things"&gt;&lt;p&gt;Not so everyday things&lt;/p&gt;&lt;/div&gt;
        &lt;div class="header-element" id="header-element--it-things"&gt;&lt;p&gt;IT things&lt;/p&gt;&lt;/div&gt;
        &lt;div class="header-element" id="header-element--world-things"&gt;&lt;p&gt;World things&lt;/p&gt;&lt;/div&gt;
        &lt;div class="header-element" id="header-element--what-makes-you-thankful"&gt;&lt;p&gt;What makes &lt;i&gt;you&lt;/i&gt; thankful?&lt;/p&gt;&lt;/div&gt;
    &lt;/nav&gt;
</code></pre>
        <p>Beyond the header, the only html in index.html is the div bellow. The content of this div is meant to be filled using jQuery, so as one might intuitively assume, something has not worked as intended if the text <em>Oops</em> is all that is seen
            below the header.</p>
        <pre><code>&lt;div id="main-container"&gt;
    Oops
&lt;/div&gt;
</code></pre>
        <h5><a id="mainjs_141"></a>main.js</h5>
        <p>The state of the website is stored in an object named <em>state</em>.</p>
        <p>The booleans <em>selected_category</em>, <em>front_page_view_is_active</em> and <em>form_view_is_active</em> suffice to deduce whether the front page is active or the form is active or whether the user has navigated to any of the specific categories
            in the navnbar.</p>
        <p>The array entities contain the content of the boxes that are shown on the website. There are some that are added by default, but if the GET-query to the server asking for entities is succesful (more on this query later in) the default content
            of the array will be replaced.</p>
        <pre><code>var state = {

    selected_category: null,
    front_page_view_is_active: true,
    form_view_is_active: null,

    entities: [{
        text: "When there's more coffee",
        image_url: "http://www.ece.cmu.edu/~ece549/spring15/team03/website/images/pic02.jpg",
        category: "everyday-things"
    }, {
        text: "When the entire project finally works",
        image_url: "http://i.imgur.com/q4gWZ69.gif",
        category: "it-things"
    }, {
        text: "When child mortality drops by yet another 10%",
        image_url: "http://cdn1.globalissues.org/i/children/under5-mortality-rate-1960-2005.png" border="1",
        category: "world-things"
    }, {
        text: "When I win in bowling",
        image_url: "https://media.giphy.com/media/Fc6pf86FKCeA/giphy.gif",
        category: "not-so-everyday-things"
    }, {
        text: "When my code runs correctly on the first run",
        image_url: "https://media.giphy.com/media/GA2FNpP1kAQNi/giphy.gif",
        category: "it-things"
    }, {
        text: "When I'm allowed to pop bubblewrap",
        image_url: "https://upload.wikimedia.org/wikipedia/commons/6/6b/Bubble_Wrap.jpg",
        category: "everyday-things"
    }]

};
</code></pre>
        <p>The function <em>generate_view</em> generates a string with the html of the content that is shown below the navbar. It makes use of other functions that also generate strings of html, namely <em>generate_form</em> and <em>generate_box_list_div</em>.
            Also, as can be seen, the specific html that is generated depends on the data that is stored in the previosuly mentioned state object. Once the string of html has been generated it replaces the current content of the div that is below the
            navbar (through the use of jQuery).</p>
        <pre><code>var generate_view = () =&gt; {

    var h2_text;
    var form = null;

    if (state.selected_category) {

        if (state.selected_category === 'world-things') {
            h2_text = "World events that make us thankful:";
        }
        if (state.selected_category === 'it-things') {
            h2_text = "IT-related things that make us thankful:";
        }
        if (state.selected_category === 'not-so-everyday-things') {
            h2_text = "Not so everyday things that make us thankful:";
        }
        if (state.selected_category === 'everyday-things') {
            h2_text = "Everyday things that make us thankful:";
        }

    } else if (state.front_page_view_is_active) {

        h2_text = "Things that make us thankful:";

    } else {

        h2_text = "Tell us about something that makes you thankful:";

        form = generate_form();

    }

    var header = `
      &lt;h2 id="h2-header"&gt;
        ${h2_text}
      &lt;/h2&gt;`;

    if (!state.form_view_is_active) $("#main-container").replaceWith('&lt;div id="main-container"&gt;' + header + generate_box_list_div() + '&lt;/div&gt;');
    else $("#main-container").replaceWith('&lt;div id="main-container"&gt;' + header + form + '&lt;/div&gt;');

};
</code></pre>
        <p>At first (once the DOM is ready for javascript-code to run, as detected by the jQuery <em>ready</em>-function) the view is generated using the previously mentioned <em>generate_view</em>-function.</p>
        <p>Then, as specified in the anonymious function that is provided to the <em>ready</em>-function as parameter:</p>
        <ul>
            <li>Specific functions are ordered to run once different header-elements (as identified and selected through their <em>ids</em>) are clicked. These functions update the state and then call on <em>generate_view</em> to run again. This is done with
                the help of <em>jQuery even bindings</em>, which enables us to easily specify which functions that are to run once specific actions happens to specific elements in the DOM that are specified with the help of <em>jQuery selectors</em>.</li>
            <li>An ajax GET-call to fetch entities from the backend is made. If successful these entities are added to the state object and the <em>generate_view</em>-function is thereafter called once more (as specified in the anonymious function that is
                added to the <em>success</em>-parameter of the settings-object of the ajax-call).</li>
        </ul>
        <pre><code>$(document).ready(() =&gt; {

    generate_view();

    $("#header-element--home").click(() =&gt; {

        event__activate_home_view();

    });

    $("#header-element--everyday-things").click(() =&gt; {

        event__activate_category_page("everyday-things");

    });

    $("#header-element--not-so-everyday-things").click(() =&gt; {

        event__activate_category_page("not-so-everyday-things");

    });

    $("#header-element--it-things").click(() =&gt; {

        event__activate_category_page("it-things");

    });

    $("#header-element--world-things").click(() =&gt; {

        event__activate_category_page("world-things");

    });

    $("#header-element--what-makes-you-thankful").click(() =&gt; {

        event__activate_form();

    });

    $.ajax({
        type: 'GET',
        url: API_ROOT + 'entities',
        data: {
            format: 'json'
        },
        error: (err) =&gt; {
            console.log(err);
        },
        success: (result) =&gt; {
            state.entities = result;
            generate_view();
        },

    });

});
</code></pre>
        <p>Among the different functions that handle events, <em>event__handle_form</em>, which is called when the submit-form-button is clicked, seems most worthy of specific explanation. Using jQuery selectors it finds the form elements and using the jQuery-function
            <em>val</em> it extracts their values.</p>
        <p>If the input-field where the text of the box is to be specified is empty, the data from the form is not posted, and instead a text saying <em>This field is mandatory</em> is added to the initially empty div where this message is to be displayed.</p>
        <p>If no image or gif is provided a random one is selected with help from our function <em>get_random_gif</em>.</p>
        <p>When there is no error and the content is to be posted, an AJAX-POST-request is made to the server. As an example of one of the many differences between choices made for this application and choices that would have been made for a real-world application,
            the <em>state</em> is updated whether or not the request to the backend is succesful, and not changed in any way if an error occurs (visitors will however notice the difference between whether or not communication with the server is working
            if they refresh the page).</p>
        <pre><code>var event__handle_form = () =&gt; {

    var category = $("#form--category").val();
    var image_url = $("#form--image_url").val();
    var text = $("#form--text").val();

    var add_new_entity = true;

    if (!text) {
        add_new_entity = false;
    }

    if (!image_url) {
        image_url = get_random_gif();
    }

    var new_entity = {
        category: category,
        image_url: image_url,
        text: text
    };

    if (add_new_entity) {

        state.entities = [new_entity].concat(state.entities);
        event__activate_home_view();

        $.ajax({
            type: "POST",
            url: API_ROOT + 'entities',
            data: new_entity,
            success: () =&gt; console.log("It was posted :)")
        });

    } else {

        $('#form--request-for-missing-input').text('This field is mandatory');

    }

};
</code></pre>
        <h5><a id="stylescss_350"></a>styles.css</h5>
        <p>No css libraries are used anywhere.</p>
        <p>Flexbox is used in the styling of the navbar.</p>
        <pre><code>#header {
    display: flex;
    ...
}
</code></pre>
        <pre><code>#header-element {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ...
}
</code></pre>
        <p>Flexbox is also used in the styling of the boxes.</p>

    </body>

</body>
