<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="main.js"></script>
</head>

<body>

    <nav id="header">
        <div class="header-element" id="header-element--home">
          <img style="height:30px;width:30px;" src="http://bsccongress.com/im15/gray-home-icon-clip-art.png"/>
        </div>
        <div class="header-element" id="header-element--everyday-things"><p>Everyday things</p></div>
        <div class="header-element" id="header-element--not-so-everyday-things"><p>Not so everyday things</p></div>
        <div class="header-element" id="header-element--it-things"><p>IT things</p></div>
        <div class="header-element" id="header-element--world-things"><p>World things</p></div>
        <div class="header-element" id="header-element--relational-things"><p>Relational things</p></div>
        <div class="header-element" id="header-element--esthetic-things"><p>Esthetic things</p></div>
        <div class="header-element" id="header-element--what-makes-you-thankful"><p>What makes <i>you</i> thankful?</p></div>
    </nav>

    <div id="main-container">
        Oops
    </div>

    <div style="position:fixed;bottom:5;right:8;">
      <a href="documentation.html">Documentation</a>
    </div>

</body>
