body {
    background-color: #F4F4F4;
    font-family: "Helvetica Neue", serif;
}

#form--request-for-missing-input {
    margin-left: 25%;
    color: red;
    margin-top: -7px;
    margin-bottom: 16px;
}

.form-element-description {
    margin-left: 25%;
    font-size: 17px;
}

.form--select {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
    border-radius: 4px;
    background-color: white;
}

.form--input {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    font-size: 20px;
    border-radius: 4px;
}

#header {
    display: flex;
    height: 55px;
    background-color: #FFFFFF;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 2px -3px rgba(143, 143, 143, 1);
}

#h2-header {
    color: rgb(92, 92, 92);
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}

.header-element {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55px;
    border-right: 1px solid rgb(230, 230, 230);
    font-size: 17px;
}

.header-element:hover {
    background-color: #F4F4F4;
    cursor: pointer;
}

#main-container {
    width: 100%;
}

#box-list-container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 40px;
}

.box-container {
    padding-top: 15px;
    border-radius: 4px;
    width: 33%;
}

.box-div {
    border-radius: 4px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
    box-shadow: 2px 2px 5px 0px rgba(190, 190, 190, 1);
}

.box--text-div {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    margin-top: -200px;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*cursor: pointer;*/
}

.box--image-div {
    background-size: cover;
}

.button {
    text-align: center;
    border-radius: 2px;
    margin: auto;
    background-color: #4288CC;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 25px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    box-shadow: 2px 2px 5px 0px rgba(190, 190, 190, 1);
}

.button:hover {
  background-color: #3571AB;
}

#button--to-form {
    width: 250px;
}

#button--submit-form {
    width: 45%;
}

#button:hover {
    background-color: rgb(58, 120, 178);
}
